pandas
numpy
scikit-learn
joblib
matplotlib
seaborn
flake8
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
gradio
spaces
huggingface_hub<0.26
fastapi
uvicorn[standard]